/INPUT
/OUTPUT
*.iso
*.img
*.BIN
*.exe
*.TODO
*.log
*.out
ISO_DIR/
build/
*.bin
dissasembled_output.txt

# Allowlist for specific files that are still needed in the repository

# Allow everything in the HOME directory, as it contains source code and other important files
!HOME/**
