/INPUT
/OUTPUT
*.iso
*.img
*.BIN
*.exe
*.TODO
*.log
*.out
ISO_DIR/
build/
*.bin
dissasembled_output.txt

# Allowlist for specific files that are still needed in the repository

# Allow VBR.BIN if it exists, since it's needed for the bootloader
!VBR.BIN

